.about-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background-color: #f9f9f9;
}

/* Image */
.about-image {
  flex: 1;
}

.about-image img {
  width: 400px;
}

/* Content */
.about-content {
  flex: 1;
}

.about-content h5 {
  color: gray;
  margin-bottom: 10px;
}

.about-content h1 {
  font-size: 36px;
  color: #0b3d3d;
  margin-bottom: 20px;
}

.about-content p {
  margin-bottom: 10px;
  color: #555;
}

/* Points */
.points {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

/* Button */
.about-content button {
  padding: 12px 25px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}