.navbar {
  background-color: #1a1a1a;
  padding: 10px 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo img {
  height: 60px;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #e6d3b3;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: white;
}